@import "tailwindcss";
:root {
  --main-color: #1b2431;
  --secondary-color: #273142;
  --hero-color: #4880ff;
}
body {
  background-color: var(--main-color);
  color: white;
}
main {
  @apply p-4 pt-6;
}
.dashboard-layout {
  @apply grid min-h-screen gap-4  grid-cols-1 md:gap-0 md:grid-cols-[auto_1fr] grid-rows-[auto_1fr];
}
.page-head {
  @apply text-[2rem] bg-transparent;
}

@media (width >= 48rem) {
  .dashboard-layout {
    grid-template-areas: "header header" "aside main" "aside main";
  }
  .dashboard-header {
    grid-area: header;
  }
  .dashboard-aside {
    grid-area: aside;
  }
  .dashboard-main {
    grid-area: main;
  }
}
